.card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    border-top: 0ch;
    border-right: 0ch;
    border-left: 0ch;
    border-bottom: 1px solid thistle
}

.itemHead{
    width: 100px;
margin: auto;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color:brown
}