@import url('https://fonts.googleapis.com/css?family=Srisakdi');

.avatar{
    width: 110px;
    height: 110px;
    border-radius: 50%;   
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.pro-field{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

.textField{
    width: 100%;
}

.values{
    color: rgb(30, 87, 210);
    font-family: 'Srisakdi', cursive;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.qrhead{
    text-align: center; 
    background-color: #424242;
    color: #fff; 
}
.mbl-usr{

    margin-top: 20px;
    font-size: 1.6rem;
}

.mbl-usr1{
    color:grey;
    font-size: 0.8em;
}
