.videos{
    width:50%;
    margin-left: 25%;
    margin-top: 10%
}

@media(max-width:570px ){ 
    .videos{
        width:90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 20%
    }
}